RewriteEngine on
RewriteRule ^acceuil$ p_Acceuil/acceuil.php [L]
RewriteRule ^projets$ p_Projets/projets.php [L]
RewriteRule ^contact$ p_Contact/contact.php [L]

<Files .*>
	Require all denied
</Files>

<Files README.*>
    Require all denied
</Files>

<Files "header.html">
	Require all denied
</Files>

<Files "footer.html">
	Require all denied
</Files>
