.page_scroll_snap_main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

#contenu {
	width: 100%;
	max-width: 800px;
	margin: 27.5px 0px;
}

#Social_conteneur {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.Social {
	flex: 1 1 0px;
	margin: 25px 20px 25px 20px;
}



.Social_affichage, .Social_lien {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.Social_conteneur_icone {
	position: relative;
}

.Social_circle_icone {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #e5e5e51e;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.06);
}

.Social_icone, .Social_circle_icone {
	max-width: 45px;
	max-height: 45px;
}

.Social_icone {
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.35));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.Social_texte_titre {
	margin: 13px 0px 19px 0px;
	font-size: 15.5px;
	font-family: "Roboto Thin";
	color: #E0CFC8;
}

.Social_texte_affichage, .Social_texte_lien {
	font-size: 13.9px;
	font-family: "Roboto Thin";
}

.Social_texte_lien_underline {
	width: 100%;
	height: 1px;
	background: #A6BCC8;
}
